.container {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 83vh;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 80px;
  color: #ff5b02;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

footer p{
  margin-top: 2%;
  margin-bottom: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.buttons button {
  background-color: #4ECCA3;
  color: #393E46;
  border: none;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons button:hover {
  background-color: #3A9B7E;
}